<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Sunlight Colour Selector</title>

    <style>
        body {
            font-family: "Arial"
        }

        h1 {
            font-family: "Georgia";
            text-align: center;
        }

        .wheel {
            width: 450px;
            margin: 0 auto;
        }

        .buttons {
            width: 450px;
            margin: 1em auto;
            text-align: center;
        }

        .chosen {
            position: absolute;
            top: 0;
            right: 10%;
        }

        .chosen td.swatch {
            width: 20px;
            border: solid 1px black;
        }
        .chosen td:nth-of-type(2) {
          font-family: "Source Code Pro", monospace;
        }

    </style>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro"></script>

    <script>
        var socket = io();
        var colorWheel = new iro.ColorPicker("#colorWheelDemo", {
            // width of the color picker
            width: 450,
        });


        function callback_colour()  {
            // console.log(colorWheel.color.hsv);
            socket.emit('json', {data: colorWheel.color.hsv});
            document.body.style.background = colorWheel.color.hexString;
        }

        function throttle (callback, limit) {
            var wait = false;                  // Initially, we're not waiting
            return function () {               // We return a throttled function
                if (!wait) {                   // If we're not waiting
                    callback.call();           // Execute users function
                    wait = true;               // Prevent future invocations
                    setTimeout(function () {   // After a period of time
                        wait = false;          // And allow future invocations
                    }, limit);
                }
            }
        }

        colorWheel.on('color:change', throttle(callback_colour, 30));

        document.addEventListener('click', function (event) {
            // If the clicked element doesn't have the right selector, bail
            if (!event.target.matches('#swatch-add')) return;

            // Don't follow the link
            event.preventDefault();

            // Setup the HTML string with initial content
            var html = document.querySelector('#swatch-rows').innerHTML;

            var hexString = colorWheel.color.hexString;
            var hsv = JSON.stringify(colorWheel.color.hsv);

            html += '<tr>' +
                    '<td class="swatch" style="background: ' + hexString + '"> &nbsp; </td>' +
                    '<td>' + hexString + '</td>' +
                    '<td><button class="swatch-set" data-hsv=\''+hsv+'\' data-hexstring=\''+hexString+'\'>Set</button></td>' +
                    '</tr>';

            // set DOM
            document.querySelector('#swatch-rows').innerHTML = html;

        }, false);

        document.addEventListener('click', function (event) {
            // If the clicked element doesn't have the right selector, bail
            if (!event.target.matches('.swatch-set')) return;

            // Don't follow the link
            event.preventDefault();

            var hexString = event.srcElement.dataset.hexstring;
            var hsv = JSON.parse(event.srcElement.dataset.hsv);

            // console.log({data: hsv});

            socket.emit('json', {data: hsv});
            document.body.style.background = hexString;

        }, false);

        document.addEventListener('click', function (event) {
            // If the clicked element doesn't have the right selector, bail
            if (!event.target.matches('#flash')) return;

            // Don't follow the link
            event.preventDefault();


            console.log({data: hsv});

            socket.emit('json', {data: hsv});
            // socket.emit('json', {data: {'h': 0, 's': 0, 'v': 255}});
            socket.emit('json', {data: hsv});
            // document.body.style.background = hexString;

        }, false);

    </script>

    </head>
    <body>

    <h1>Sunlight Colour Selector</h1>

    <div class="wheel" id="colorWheelDemo"></div>
    <div class="buttons">
        <button id="swatch-add">Add Colour</button>
        <button id="flash">Flash</button>
    </div>

    <div class="chosen">

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Hex</th>
                    <th>Load</th>
                </tr>
            </thead>
            <tbody id="swatch-rows"></tbody>
        </table>

    </div>

    </body>
</html>
